/Attachments_Vodopyan.AO@gazprom-neft.ru_2021-11-26_11-07-45.zip
/Лекция 5. Основы эксплуатации оборудованных УЭЦН скважин.pptx
/Лекция 6. Моделирование скважин с УЭЦН.pptx
/test_code.ipynb
/.ipynb_checkpoints/
